<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="/public/css/style.css">
    <link rel="stylesheet" href="/public/css/mobileHeader.css">

    <title><%- title %></title>
</head>

<header>
    <div class="desktop-container">
        <div class="logo">
            <p>GabrielDev/></p>
            <ul>
                <li><a id="navegacao" href="#introducao">Inicio</a></li>
                <li><a id="navegacao" href="#sobreMim">Sobre Mim</a></li>
                <li><a id="navegacao" href="#projetos">Portifólio</a></li>
                <li><a id="navegacao" href="#contato">Contato</a></li>
            </ul>
        </div>


        <div class="modo">
            <div class="status">
                <div class="sinalizador"></div>
                <a href="#carreira">Status</a>
            </div>
            <div class="claroEscuro">
                <img src="/public/image/modoLight.png" alt="Modo Claro" id="light">
                <img src="/public/image/modoDark.png" alt="Modo Escuro" id="dark">
            </div>
        </div>

    </div>

    <div class="container">
        <div class="mobile-container">
            <div class="menuVertical">
                <img id="menuVertical" src="/public/image/menuVertical.png" alt="#">
            </div>

            <div class="logo">
                <p>GabrielDev/></p>
            </div>
            <div class="menu" id="menu">
                <ul>
                    <li><a href="#introducao">Inicio</a></li>
                    <li><a href="#sobreMim">Sobre Mim</a></li>
                    <li><a href="#projetos">Portifólio</a></li>
                    <li><a href="#contato">Contato</a></li>
                    <li><a href="#carreira">
                            <div class="status">
                                <div class="sinalizador"></div>
                                <a href="#carreira">Status</a>
                            </div>
                        </a></li>
                </ul>
            </div>
            <div class="modo">

                <div class="claroEscuro">
                    <img src="/public/image/modoLight.png" alt="Modo Claro" id="light">
                    <img src="/public/image/modoDark.png" alt="Modo Escuro" id="dark">
                </div>
            </div>
        </div>
    </div>

</header>