<%- include("./partials/header") %>

    <body>
        <main>
            <section class="introducao-container" id="introducao">
                <div class="inicio">
                    <div class="info-basica">
                        <p>Saudações,</p>
                        <h1>Gabriel Miranda</h1>
                        <p>Desenvolvedor Front-end</p>
                        <p>e UI Designer</p>
                        <div class="redes">
                            <a href="http://www.linkedin.com/in/gabriel-miranda-363269205" target="_blank"><img src="/public/image/LinkedIn.png" alt=""></a>
                            <a href="https://github.com/GabrielMiranda21" target="_blank"><img src="/public/image/gitHub.png" alt=""></a>
                            <a href="https://www.figma.com/@gabrielmiranda8" target="_blank"><img src="/public/image/figma.png" alt=""></a>
                        </div>
                    </div>
                    <div class="perfil">
                        <img src="/public/image/fotoPrincipal2.jpg" alt="Gabriel">
                    </div>
                    <div class="curriculo">
                        <img src="/public/image/whatsapp.png" alt="whatsapp">
                        <a href="https://api.whatsapp.com/send?phone=5511956693730" target="_blank">Deseja
                            conversar?</a>
                    </div>
                </div>
            </section>

            <section class="experiencia-container">
                <h2>🌟 Experiência Profissional</h2>
                <div class="experiencia">

                    <div class="caixa">
                        <strong>Tempo de desenvolvedor</strong>
                        <img src="/public/image/desenvolvedor.png" alt="Dev">
                        <p>Sem experiência</p>
                    </div>
                    <div class="caixa">
                        <strong>Tempo de trabalho</strong>
                        <img src="/public/image/trabalho.png" alt="Trabalho">
                        <p>Sem experiência</p>
                    </div>
                    <div class="caixa">
                        <strong>Tempo de UI Designer</strong>
                        <img src="/public/image/design.png" alt="UI">
                        <p>Sem experiência</p>
                    </div>
                </div>
            </section>

            <section class="sobreMim-container" id="sobreMim">
                <span>👤 Sobre mim</span>

                <div class="conteudoSobremim">
                    <div class="apresentacao">
                        <h3>Olá, </h3>
                        <p>
                            Sou Gabriel (Gabs) Miranda desenvolvedor FrontEnd. Atualmente faço Análise e Desenvolvimento
                            de
                            Sistemas pelo Centro Universitário Fundação Santo André desde Agosto de 2023 no Brasil. Já
                            fiz
                            curso de web fullstack através da instituição Digital House onde aprendi boas práticas da
                            métodologia
                            Ágil Scrum e de projetos com arquitetura MVC.
                        </p>
                        <p>
                            Sou apaixonado por Análise de Dados, boas práticas de desenvolvimento e padrões de projeto,
                            pretendo
                            fazer pós-graduação em engenharia de software de dados em 2025.
                        </p>
                        <p>
                            Atualmente busco estágio para adquirir conhecimento e experiência no mercado. Tenho
                            conhecimento
                            básico / intermediário em NodeJs, mySql, Html, Css e JavaScript.
                        </p>
                        <p>Estou estudando typeScript para poder avançar em frameworks como React e NextJs.</p>
                    </div>

                    <div class="perfil2">
                        <img src="/public/image/perfil.jpg" alt="foto2">
                    </div>

                </div>
            </section>

            <section class="projetos-container" id="projetos">
                <div class="opcao">
                    <h4>Projetos e trabalhos</h4>
                    <div class="tipoProjeto">
                        <button id="web">Web</button>
                        <button id="design">Design</button>
                    </div>
                </div>

                <div class="projetoWeb" id="webProjetos">
                    <div class="caixa">
                        <div class="conteudo">
                            <div class="fotoProjeto">
                                <img src="/public/image/portifolioSite.png" alt="Estamos Trabalhando">
                            </div>
                            <div class="infoProjeto">
                                <strong>Portfólio Pessoal</strong>
                                <span>2025</span>

                                <div class="descricao">
                                    <p>Portfólio Pessoal foi criado com o objetivo de apresentar minhas habilidades e
                                        projetos na área de desenvolvimento web.
                                    </p>
                                </div>
                            </div>
                            <a href="https://github.com/GabrielMiranda21/gabrielmiranda" target="_blank">Ver Projeto</a>
                            <div class="linguagemUsada">
                                <p>JavaScript</p>
                                <p id="framework">NodeJs</p>
                                <p id="framework">Express</p>
                                <p>Ejs</p>
                                <p>Css</p>
                                <p id="arquitetura">Mvc</p>
                            </div>
                        </div>

                    </div>

                    <div class="caixa">
                        <div class="conteudo">
                            <div class="fotoProjeto">
                                <img src="/public/image/DireitoDireto.png" alt="Estamos Trabalhando">
                            </div>
                            <div class="infoProjeto">
                                <strong>Direito Direto</strong>
                                <span>2024</span>

                                <div class="descricao">
                                    <p>Projeto escolhido para entrega final do ACCEX da faculdade.
                                        Uma plataforma que facilita a busca por profissionais capacitados
                                        da área de direito, ao mesmo tempo tendo como foco principal
                                        advogados recém-licenciados pela OAB a encontrar seus primeiros
                                        clientes.
                                    </p>
                                </div>
                            </div>
                            <a href="https://github.com/LucasGS2/Direito-Direto" target="_blank">Ver Projeto</a>
                            <div class="linguagemUsada">
                                <p>Php</p>
                                <p id="framework">Laragon</p>
                                <p>MySql</p>
                                <p>JavaScript</p>
                                <p>Html</p>
                                <p>Css</p>
                                <p id="arquitetura">Mvc</p>
                            </div>
                        </div>

                    </div>

                    <div class="caixa">
                        <div class="conteudo">
                            <div class="fotoProjeto">
                                <img src="/public/image/SetupGamer.png" alt="Estamos Trabalhando">
                            </div>
                            <div class="infoProjeto">
                                <strong>Setup Gamer</strong>
                                <span>2022</span>

                                <div class="descricao">
                                    <p>Desenvolvimento de um site e-commerce de venda de cpu's profissional
                                        com didáticas e boas praticas realizado através da Digital House durante o curso
                                        Web Full Stack NodeJs.</p>
                                </div>
                            </div>
                            <a href="https://github.com/brvale/SetupGamer-NodeJS" target="_blank">Ver Projeto</a>
                            <div class="linguagemUsada">
                                <p>JavaScript</p>
                                <p id="framework">NodeJs</p>
                                <p>Ejs</p>
                                <p>Css</p>
                                <p id="framework">Sequelize</p>
                                <p id="framework">Express</p>
                                <p>MySql</p>
                                <p id="arquitetura">Mvc</p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="projetoDesign" id="designProjetos">
                    <div class="caixa">
                        <div class="conteudo">
                            <div class="fotoProjeto">
                                <img src="/public/image/restaurantedochefe.png" alt="restaurante do chefe">
                            </div>
                            <div class="infoProjeto">
                                <strong>Restaurante do chefe</strong>
                                <span>2025</span>

                                <div class="descricao">
                                    <p>Aplicativo mobile de um restaurante gourmet.
                                    </p>
                                </div>
                            </div>
                            <a href="https://www.figma.com/design/GHGIKQZs42NxxXLyha3ZeM/mit_app?node-id=5-2&t=AgUYq8Kp2ux671hk-1" target="_blank">Ver Projeto</a>
                            <div class="linguagemUsada">
                                <p>UI Design</p>
                                <p>Mobile</p>
                            </div>
                        </div>

                    </div>

                    <div class="caixa">
                        <div class="conteudo">
                            <div class="fotoProjeto">
                                <img src="/public/image/portifolioSite.png" alt="Portfólio">
                            </div>
                            <div class="infoProjeto">
                                <strong>Portfólio Pessoal</strong>
                                <span>2025</span>

                                <div class="descricao">
                                    <p>Protótipo de navegação do meu portifólio.
                                    </p>
                                </div>
                            </div>
                            <a href="https://gabrielmiranda-eight.vercel.app/" target="_blank">Ver Projeto</a>
                            <div class="linguagemUsada">
                                <p>UI Design</p>
                                <p>Landing Page</p>
                            </div>
                        </div>

                    </div>


                    <div class="caixa">
                        <div class="conteudo">
                            <div class="fotoProjeto">
                                <img src="/public/image/DireitoDireto.png" alt="Direito Direto">
                            </div>
                            <div class="infoProjeto">
                                <strong>D&D - Direto Direto</strong>
                                <span>2024</span>

                                <div class="descricao">
                                    <p>Protótipo de navegação construido em conjunto durante o curso de 
                                        Análise e Desenvolvimento de Sistemas pelo Centro Universitário Fundação Santo André para 
                                        entrega do ACCEX projeto final do curso. 
                                    </p>
                                </div>
                            </div>
                            <a href="https://www.figma.com/design/DRU3OX1FhJYtWpsIDj7HDr/Untitled?node-id=0-1&t=Ps4FRX7rRSNAhnnR-1" target="_blank">Ver Projeto</a>
                            <div class="linguagemUsada">
                                <p>UI Design</p>
                                <p>Accex</p>
                            </div>
                        </div>

                    </div>
                </div>

                <div class="informacaoCores">
                    <div class="box-container">
                        <div class="boxCinza"></div>
                        <p>Tecnologia</p>
                    </div>
                    <div class="box-container">
                        <div class="boxAzul"></div>
                        <p>Framework</p>
                    </div>
                    <div class="box-container">
                        <div class="boxLaranja"></div>
                        <p>Arquitetura</p>
                    </div>
                </div>

            </section>

            <section class="habilidades">
                <strong>🚀 Habilidades</strong>

                <div class="caixaLinguagem">
                    <p>Linguagens que possuo experiência:</p>
                    <div class="linguagensUsadas">
                        <img src="/public/image/html.png" alt="Html">
                        <img src="/public/image/css.png" alt="Css">
                        <img src="/public/image/js.png" alt="JavaScript">
                        <img src="/public/image/nodeJs.png" alt="NodeJs">
                    </div>
                </div>

                <div class="caixaLinguagem">
                    <p>Linguagens com que já trabalhei em conjunto:</p>
                    <div class="linguagensTrabalhadas">
                        <img src="/public/image/php.png" alt="PhP">
                        <img src="/public/image/laragon.png" alt="Laragon">
                        <img src="/public/image/mySql.png" alt="MySql">
                    </div>
                </div>

                <div class="caixaLinguagem">
                    <p>Estou aprendendo:</p>
                    <div class="linguagensAprendendo">
                        <img src="/public/image/typescript.png" alt="Ts">
                        <img src="/public/image/react.png" alt="React">
                        <img src="/public/image/nextJs.png" alt="NextJs">
                    </div>
                </div>
            </section>

            <section class="carreira-container" id="carreira">
                <strong>💼 Minha carreira</strong>

                <div class="separador">
                    <h5>Profissional</h5>
                    <div class="caixaCarreira">

                        <div class="carrossel-card">
                            <div class="card" id="atualCard">
                                <div class="descricao">
                                    <div class="conteudoCarreira">
                                        <span>Estágio</span>
                                        <div>Buscando</div>
                                    </div>
                                    <p>Estou em busca de uma oportunidade de estágio para mergulhar no mundo da
                                        tecnologia e aplicar os conhecimentos adquiridos durante meus estudos. Estou
                                        ansioso para colaborar em projetos práticos e desenvolver minhas habilidades
                                        para me tornar um profissional capacitado na área.
                                    </p>
                                </div>

                                <div class="data">
                                    <div id="atualStatus">Data de inicio: 01/2024 - Atualmente</div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <h5>Formação Acadêmica</h5>
                    <div class="caixaCarreira">


                        <div class="carrossel-card">
                            <div class="card" id="atualCard">

                                <div class="descricao">
                                    <div class="conteudoCarreira">
                                        <span>Centro Universitário Fundação Santo André</span>
                                        <div>Análise e Desenvolvimento de Sistemas</div>
                                    </div>
                                    <p>Técnologo em Análise e Desenvolvimento de Sistemas. Durante o curso, adquiri
                                        conhecimentos
                                        sólidos em desenvolvimento de software, algoritmos, estruturas de dados, e
                                        participei
                                        em projeto cooperativo para entrega do ACCEX em 2024.
                                    </p>
                                </div>

                                <div class="data">
                                    <div id="atualStatus">Data de inicio: 08/2023 - Previsão de término: 07/2025 -
                                        Atualmente</div>
                                </div>

                            </div>

                            <div class="card">

                                <div class="descricao">
                                    <div class="conteudoCarreira">
                                        <span>Digital House</span>
                                        <div>Full Stack Node.Js</div>
                                    </div>
                                    <p>Curso intensivo com as metodologias ágeis Scrum, boas práticas de desenvolvimento web com Figma, páginas
                                        responsivas, semânticas e dinâmicas. No back-end inclui rotas, verbos HTTP,
                                        MySQL, Express, Sequelize e arquitetura MVC.
                                    </p>
                                </div>

                                <div class="data">
                                    <p>Data de inicio: 09/2021 - Data de término: 04/2022</p>
                                </div>

                            </div>

                            <div class="card">

                                <div class="descricao">
                                    <div class="conteudoCarreira">
                                        <span>Agile</span>
                                        <div>Web Developer</div>
                                    </div>
                                    <p>Durante o curso aprendi conceitos básicos sobre design como uso do corelDraw e
                                        photoshop, animações utilizando o flash e construção de páginas básicas.
                                    </p>
                                </div>

                                <div class="data">
                                    <p>Data de inicio: 05/2015 - Data de término: 05/2016</p>
                                </div>

                            </div>
                        </div>


                    </div>

                    <h5>Certificados</h5>
                    <div class="caixaCarreira">
                        <div class="carrossel-card">
                            <div class="certificados-container">
                                <div class="certificado">
                                    <span class="visible">
                                        <ion-icon name="eye"></ion-icon>
                                    </span>
                                    <img src="/public/image/certificadoDigitalHouse_Gabriel.jpeg" alt="DigitalHouse"> 
                                </div>
                            </div>
                        </div>


                    </div>
                </div>
            </section>

            <section class="contato-container" id="contato">
                <h6>📞 Contato</h6>
                <div class="email">
                    <div class="icone">
                        <img src="/public/image/gmail.png" alt="email">
                        <strong>E-mail:</strong>
                    </div>
                    <p>gabrieldevmasterl@gmail.com</p>
                </div>

                <div class="curriculo">
                    <img src="/public/image/whatsapp.png" alt="whatsapp">
                    <a href="https://api.whatsapp.com/send?phone=5511956693730" target="_blank">Deseja
                        conversar?</a>
                </div>

                <div class="redesContato">
                    <a href="https://www.linkedin.com/in/gabriel-miranda-de-amorim-soares-363269205/" target="_blank"><img src="/public/image/LinkedIn.png" alt="LinkedIn"></a>
                    <a href="https://github.com/GabrielMiranda21" target="_blank"><img src="/public/image/gitHub.png" alt="GitHub"></a>
                    <a href="https://www.figma.com/@gabrielmiranda8" target="_blank"><img src="/public/image/figma.png" alt="Figma"></a>
                </div>
            </section>

            <footer>
                <strong>Copyright © Gabriel Miranda · 2025</strong>
            </footer>
        </main>


        <!---- SCRIPTS --->
        <script src="/public/scripts/menu.js"></script>
        <script src="/public/scripts/selecaoDevDesign.js"></script>
        <script src="/public/scripts/visualizarCertificados.js"></script>

        <script src="https://unpkg.com/ionicons@4.5.10-0/dist/ionicons.js"></script>

    </body>

    </html>