header div.container {
    width: 100%;
}

header div.container div.mobile-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

header div.container div.mobile-container div.menuVertical {
    display: flex;
    align-items: center;
}

header div.container div.mobile-container div.menuVertical img#menuVertical {
    display: block;
    width: 15px;
    height: 15px;
    order: 1;
}

header div.container div.mobile-container div.modo {
    display: flex;
    align-items: center;
    order: 3;
}

header div.mobile-container div.modo div.status {
    display: flex;
    align-items: center;
    cursor: pointer;
}

header div.mobile-container div.modo div.status div.sinalizador {
    background-color: #ffffff;
    width: 10px;
    height: 10px;
    border-radius: 100%;
    margin: 0 5px;
}

header div.mobile-container div.modo div.status a {
    font-size: 14px;
    font-weight: bolder;
    color: greenyellow;
    text-decoration: none;
}

header div.container div.mobile-container div.modo div.claroEscuro img#dark {
    display: none;
    cursor: pointer;
    margin: 0 0 0 10px;
    color: #fff;
    width: 25px;
    height: 25px;
}

header div.container div.mobile-container div.modo div.claroEscuro img#light {
    display: block;
    cursor: pointer;
    margin: 0 0 0 10px;
    color: #fff;
    width: 25px;
    height: 25px;
}

header div.container div.mobile-container div.logo {
    position: absolute;
    left: 50%; /* Coloca a logo no centro horizontal */
    top: 32px; /* Alinha verticalmente */
    transform: translate(-50%, -50%); /* Ajuste para centralizar completamente */
    order: 2;
}

header div.mobile-container div.logo p {
    font-size: 14px;
    font-weight: bolder;
    color: #ffffff;
}

header div.mobile-container div.menu {
    display: none;
}

header div.mobile-container div.menu ul div.separador {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

header div.mobile-container div.menu ul {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  order: 0;
  width: 100%;
  max-width: 150px;
  height: auto;
  padding: 10px 50px;
  top: 0;
  left: 0;
  background-color: #3b2c2c;
}

header div.mobile-container div.menu ul li {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
  white-space: nowrap;
  margin: 5px 0;
  width: 100%;
  font-size: 16px;
}

header div.mobile-container div.menu ul li a {
    text-decoration: none;
    color: #B3B3B3;
}

@media screen and (min-width: 425px) and (max-width: 720px){
    header div.container div.mobile-container div.modo div.status p {
        font-size: 14px;
    }
    
    header div.container div.mobile-container div.modo div.claroEscuro img#dark {
        width: 25px;
        height: 25px;
    }
    
    header div.container div.mobile-container div.modo div.claroEscuro img#light {
        width: 25px;
        height: 25px;
    }
}

@media screen and (min-width: 320px) and (max-width: 425px){
    header div.container div.mobile-container div.modo div.status p {
        font-size: 14px;
    }
    
    header div.container div.mobile-container div.modo div.claroEscuro img#dark {
        width: 20px;
        height: 20px;
    }
    
    header div.container div.mobile-container div.modo div.claroEscuro img#light {
        width: 20px;
        height: 20px;
    }
}